<table class="ui fixed table">
  <thead>
    <tr>
      <th>player Name</th>
      <th>player Number</th>
      <th>Position</th>
      <th>  </th>
    </tr>
  </thead>
  <tbody>
    {{#each team.players}}
      <tr>
        <td>
          {{player}}
        </td>
        <td>
          {{playerNumber}}
        </td>
        <td>
          {{position}}
        </td>
        <td>
          <a href="/team/{{../team.id}}/deleteplayer/{{id}}" class="ui tiny red button delplayer">Delete player</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>